<a href="https://colab.research.google.com/github/TejasRaut14/Array_Problem/blob/main/ARRAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Find the smallest number in the array

In [ ]:
a=[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)

a.sort()
print(a[0])

5
2
5
1
3
0
0

Find the largest number in an array

In [ ]:
x=[]
y=int(input())

for i in range(y):
  z=int(input())
  x.append(z)


print(max(x))

4
66
5
4
99
99

Second smallest and second largest elements in an array

In [ ]:
m=[]
n=int(input())

for i in range(n):
  o=int(input())
  m.append(o)

m.sort()
print("second small:", m[1])
print("second large:", m[-2])

5
1
2
3
4
5
second small: 2
second large: 4

In [ ]:
li = [1,2,4,7,7,5]
li2 = []

for num in li:
  if num not in li2:
    li2.append(num)

li2.sort()

li2[1]

2

In [ ]:
li = [1,2,4,7,7,5]

i = 0

last_seen = 0
while i <len(li)-1:
  if li[i]==last_seen:
    i+=1
  if li[i]>=li[i+1]:
      li[i], li[i+1] = li[i+1], li[i]
  last_seen = li[i]
  print(last_seen)
  i+=1

print(li)

1
2
4
7

IndexError: list index out of range

In [ ]:
array1=[]
elements1=int(input())

for i in range(elements1):
  elements2=int(input())
  array1.append(elements2)

reverse=array1[::-1]
print(reverse)

4
1
2
3
4
[4, 3, 2, 1]

Count frequnecy of each elemets in an array

In [ ]:
arr=[]
b=int(input())
for i in range(b):
  c=int(input())
  arr.append(c)

for i in set(arr):

    print(i, arr.count(i))

4
1
2
3
3
1 1
2 1
3 2

In [ ]:
#Second smallest and second largest elements in the array

In [ ]:
l1=[1,2,4,7,7,5]
l1=set(l1)
print(l1)
l2=sorted(l1, reverse=True)
l3 = sorted(l1)
print('acd format', l3[1] , 'decending  format ' , l2[1])
print()

{1, 2, 4, 5, 7}
acd format 2 decending  format  5

In [ ]:
a = [2,4,6,7,89,45 ]
list(map(str, a))

['2', '4', '6', '7', '89', '45']

In [ ]:
a = lambda x, y:x*y
a(4,5)

20

In [ ]:
a = list(map(int, input().split()))

23 45 56 78 34  56

[23, 45, 56, 78, 34, 56]

Rearrange array in incresing and decsing order

In [ ]:
arr11=[]
b=int(input())
for i in range(b):
  c=int(input())
  arr11.append(c)

a= sorted(arr11)

e=sorted(arr11,reverse=True)


mid=len(arr11)//2

c=(a[0:mid])
d=(e[0:mid])
f=c+d
print(f)

4
6
3
99
100
[3, 6, 100, 99]

In [ ]:
a=[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)

sum=0;
j=0;

for j in range(b):
  sum =sum+a[j]

print(sum)

4
1
2
3
4
10

In [ ]:
c =0
for i in b:
  c+=i
print(c)

14

In [ ]:

sum(b)

122

In [ ]:
#rotate array by k elemets

In [ ]:
a=[]
c=int(input())
k=int(input())
for i in range(c):
  d=int(input())
  a.append(d)

b=a[k:]+a[:k]
print(b)

4
2
1
2
3
4
[3, 4, 1, 2]

Average of all elemets in this array

In [ ]:
a=[]
b=int(input())
for i in range(b):
  c=int(input())
  a.append(c)
print(sum(a)/len(a))

4
5
4
3
2
3.5

Find median of the given arrays is

In [ ]:
a=[]
b=int(input())
for i in range(b):
  c=int(input())
  a.append(c)
a.sort()

if len(a)%2==0:
  m=len(a)/2
  print()

elif len(a)%2 !=0:
  print(a[len(a)//2+1])

6
1
2
3
4
5
6

TypeError: list indices must be integers or slices, not float

In [ ]:
s = [3, 4, 1, 2]
s.sort()
print(s)
mid =len(s)//2
k=s[mid-1 :mid+1]
l=sum(k)/2
p=int(l)
print(s[p-1])

[1, 2, 3, 4]
2

In [ ]:
s =[23,45,57]

[23, 45]

Remove duplicates in place from sorted array

In [ ]:
li1=[]
a=int(input())
for i in range(a):
  b=int(input())
  li1.append(b)

li1.sort()
li2=list(set(li1))

for i in range(len(li1)-len(li2)):
  li2.append('_')
li2

5
1
1
2
3
3

[1, 2, 3, '_', '_']

Remove duplicates from unsorted array

In [ ]:
a=[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)

d=list(set(a))
print(d)

5
1
9
1
2
2
[1, 2, 9]

In [ ]:
a = [2,3,1,9,3,1,3,9]
a1 =[]
for i in range(len(a)):
  if a[i] not in a1:
    a1.append(a[i])
print(a1)

[2, 3, 1, 9]

Adding elemets in the arrays is :

In [ ]:
a=[]
b=int(input())
for i in range(b):
  c=int(input())
  a.append(c)

d=a.insert(0,6)
e=a.append(7)
f=a.insert(4,8)
print(a)

5
1
2
3
4
5
[6, 1, 2, 3, 8, 4, 5, 7]

In [ ]:
#Find repeating elemets in any array is

In [ ]:
b=[]
j=[]
a=int(input())
for i in range(a):
  c=int(input())
  b.append(c)

4
2
2
3
4
{2, 3, 4}

In [ ]:
a =[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)

repeating_elemets=set()
for i in a:
  if a.count(i) >=2:
    repeating_elemets.add(i)
print(list(repeating_elemets))

4
1
1
2
3
[1]

Find non -repeating elements in an array is :

In [ ]:
x=[]
y=int(input())

for i in range(y):
  z=int(input())
  x.append(z)

repeating_elemets=set()

for i in x:
  if x.count(i) ==1:
    repeating_elemets.add(i)
print(list(repeating_elemets))

4
1
2
3
3
[1, 2]

Maximum product subarray

In [ ]:
nums = [1,2,-3,0,-4,-5]
Counter=1
# for num in Nums:
#   # print(num)
#   if num>0:
#     print(num)
#     Counter =Counter*num
# print(Counter)
d ={}
nums = list(map(str, nums))
print(nums)
for i in nums:
  print(i)
#   for j in i:
#     print(j)
  # for j in i:
  #   print(j)

['1', '2', '-3', '0', '-4', '-5']
1
2
-3
0
-4
-5

In [ ]:

def maxProductSubArray(nums):
    result = float('-inf')
    for i in range(len(nums) - 1):
        for j in range(i + 1, len(nums)):
            prod = 1
            for k in range(i, j + 1):
                prod *= nums[k]
            result = max(result, prod)
    return result

if __name__ == "__main__":
    nums = [1, 2, -3, 0, -4, -5]
    print("The maximum product subarray:", maxProductSubArray(nums))

The maximum product subarray: 20

Check number is panlidrome or not

In [ ]:
a=int(input())
b=str(a)
c=b[::-1]
if b==c:
  print("palindrome")
else:
  print("Not panlindrome")

7898
Not panlindrome

Find all symmetric pairs in an array

In [ ]:
pairs=[(1,5),(2,3),(4,2),(5,1),(2,4)]
for pair in range(len(pairs)):
  for j in range(pair+1,len(pairs)):
    if set(pairs[pair])==set(pairs[j]):
      print(pairs[j])
# print(pairs)

(5, 1)
(2, 4)

In [ ]:
sum((1,2)),sum((2,1))

(3, 3)

In [ ]:
{1,2} in [{2,1},]

True

Maximum product in the subarray:

In [ ]:
# nums = [1,2,3,4,5,0]
nums = [1,2,-3,0,-4,-5]
max= 1
min=1
for i in range(len(nums)):
  if nums[i]==0:
    min=1
  else:
    min=min*nums[i]
  if min> max:
    max=min
  # print(min)
print(max)

20

Replace the each elemets by its rank

In [ ]:
item=[20, 15, 26, 2, 98, 6]
a=sorted(item)
for i in item:
  print(i,a.index(i)+1)

20 4
15 3
26 5
2 1
98 6
6 2

Sort elemets of an array by frequency

In [ ]:
from collections import Counter
a=[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)
  a.sort()
b=Counter(list(a))
for i in b.values():
  print(i)

4
2
2
1
6
1
2
1

In [ ]:
#rotate array by k elemets

2
1

In [ ]:
a=[]
c=int(input())
k=int(input())
for i in range(c):
  d=int(input())
  a.append(d)

b=a[k:]+a[:k]
print(b)

5
3
1
2
3
4
5
[4, 5, 1, 2, 3]

In [ ]:
#Finding equlibrium index of an array

In [ ]:
nums=[]
c=int(input())
for i in range(c):
  d=int(input())
  nums.append(d)
# nums = [1,-1,4]

for i in range(len(nums)):

    a=(sum(nums[:i]),sum(nums[i+1:]),i)

    if sum(nums[:i])==sum(nums[i+1:]):
        print(i)

5
2
3
-1
8
4
3

In [ ]:
3

Check array is subset of another array

In [ ]:
a=[]
b=[]

x=int(input())
for i in (a):
  c=int(input())
  a.append(c)

y=int(input())

for j in range(y):
  d=int(input())
  b.append(d)

a=set(a)
b=set(b)
c=(a.issubset(b))

if c==True:
  print("Subset of array 2 ")
else:
  print("Not subset of array 1")

3
4
1
2
3
4
Subset of array 2

Serach an elemets in an array

In [ ]:
a=[]

b=int(input())
for i in range(b):
  c=int(input())
  a.append(c)

k=int(input('enter k'))

for i in range(len(a)):
  if a[i]==k:

    print(i,a.index(i))

4
1
2
3
4
enter k2
1 0

[1, 2, 3, 4]

Reverse word in a string

In [ ]:
a=input()

b=a.split()
c=b[::-1]
print(' '.join(c))

tejas raut
raut tejas

given string is palindrome or not

In [ ]:
a=str(input())
b=str(a)
c=b[::-1]
if b==c:
  print("palindrome")
else:
  print("Not palindrome")

ABCDCBA
palindrome

Count number of vowels consonants space in string

In [ ]:
a=input()
vowels='aeiou'
consonants='bcdfghjklmnpqrstvwxyz'
spaces=' '

v=0
c=0
s=0

for i in a:
  if i in vowels:
    v=v+1
  elif i in consonants:
    c=c+1
  elif i in spaces:
    s=s+1
print(v,c,s)

tejas raut
4 5 2

Find non repeating charater in the string

In [ ]:
a=input()
b=set(a)
c=[]
for i in a:
  if a.count(i)==1:
    c.append(i)
print(c)

for i  in c:
  print(i)

google
['l', 'e']
l
e

In [ ]:
# ord('b')

98

Print array after it is right rotated K times

In [ ]:
a=[]
b=int(input())

for i in range(b):
  c=int(input())
  a.append(c)

k=int(input())
s=input("enter the side ")
s='l'
if s=='r':
  print(a[-k:] + a[:-k])
else:
  print(a[k:]+a[:k])

4
1
2
3
4
2
enter the side r
[3, 4, 1, 2]

In [ ]:
k=3
s='l'
if s=='r':
#   a[-k:-1:-1]
    print(a[-k:] + a[:-k])
else:
  print(a[k:]+a[:k])

[4, 5, 6, 7, 1, 2, 3]

In [ ]:
a=[(1,2),(2,1),(3,4),(4,5),(5,4)]

for i in range(len(a)):
  for j in range(i+1,len(a)):
    if set(a[i])==set(a[j]):
      print(a[j])

(2, 1)
(5, 4)

In [ ]:
class player():  #class
    def __init__(self, name, health, inventory): # constrctor
        self.name = name
        self.health = health
        self.inventory = inventory
    def info(self): # method
        print('my name is ' , self.name )
        print('my health is ', self.health)
# Create the player object for the terrorist.
t1 = player('Mojo', 50, {})
print( (t1.name, t1.health))
''

('Mojo', 50)

''

In [ ]:
t1.info()

my name is  Mojo
my health is  50